@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@media (max-width: 1000px){
    #conteudo {
        max-width: auto;
        max-height: auto;
    }

    #imagem-conteudo {
        max-width: 100%;
    }

    #cabecalho {
        display: none;
        border: none;
    }

    .rodape {
        max-width: 100%;
        max-height: 100%;
    }
}

*,*::after,*::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica;
    background-image: url("Faded-Sky.png");
}



/* TITULO, IMAGEM ↓ */
#cabecalho {
    /* margin-top: 50%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: #3498db solid 5px;
    border-radius: 0.6em;
    width: 20%;
    height: 40%;
    transition: all 150ms ease-in-out;
}

#cabecalho:hover {
    backdrop-filter: blur(10px);
}

.titulo {
    margin-top: 30%;
    cursor: auto;
    font-size: 300%;
    color: #0b00a1;
    transition: all 150ms ease-in-out;
    word-wrap: break-word;
}

.titulo::selection {
    color: #0b00a1;
    background: cross-fade(#eee);
    background-color: #3498db;
}

header:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    transition: all 150ms ease-in-out;
}

.imagem-principal {
    height: 100%;
    width: 100%;
}
/* TITULO, IMAGEM ↑ */

/* ESCOLHA DATA, BOTÃO ↓ */
#data {
    color: #eee;
    background: transparent;
    border: #3498db solid 2px;
    font-weight: 700;
    margin-top: 5%;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.data-escolha {
    margin-top: 5%;
    color: #eee;
}

.data-escolha::before {
    content: 'Escolha a data ↓';
    font-family: Helvetica;
    font-weight: 700;
}

#data:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

#data::selection {
    color: #0b00a1;
    background: cross-fade(#eee);
    background-color: #3498db;
}

#botao-escolha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input::selection {
    color: #0b00a1;
    background: #3498db;
}

.input {
    color: #eee;
    background: transparent;
}

.btn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #3498db;
    border-radius: 0.6em;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 10%;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;   
}

.btn:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}
/* ESCOLHA DATA, BOTÃO ↑ */

/* BOTÃO ATUALIZAR ↓ */
.btn-att {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #3498db;
    border-radius: 0.6em;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}
.btn-att:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
/* BOTÃO ATUALIZAR ↑ */

/* CONTEUDO  ↓ */
#conteudo{
    margin: 5%;
    padding: 5%;
    font-size: 20px;
    color: #0b00a1;
    border-radius: 10px;
    border: #3498db inset 5px;
    font-weight: 700;
    word-wrap: break-word;
    transition: all 150ms ease-in-out;
    max-width: fit-content;
    max-height: fit-content;
}
#conteudo:hover {
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

#conteudo::selection {
    color: #0b00a1;
    background: #3498db;
}

#imagem-conteudo {
    display: block;
    height: 40%;
    /* width: 30%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1%;
    border: #3498db inset 5px;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

#imagem-conteudo:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
/* CONTEUDO ↑ */

/* RODAPÉ ↓ */
.rodape {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    float: left;
    padding: 1%;
    letter-spacing: 2px;
    font-weight: 500;
}

.rodape, a {
    font-size: 20px;
}

a:visited {
    color: #e90000;
}

p:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    transition: all 150ms ease-in-out;
}
/* RODAPÉ ↑ */