@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

@media screen and (max-width: 380px) and (orientation:portrait) {
    #cabecalho { max-width: 1000px; }
    #conteudo { min-width: 600px; }
}

@media (max-width: 500px) {

}

*,*::after,*::before {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    background-image: url("Faded-Sky.png");
}



/* TITULO, IMAGEM ↓ */
#cabecalho {
    margin-top: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: #3498db solid 5px;
    border-radius: 0.6em;
    width: 400px;
    height: 300px;
    transition: all 150ms ease-in-out;
}

#cabecalho:hover {
    backdrop-filter: blur(10px);
}

.titulo {
    cursor: auto;
    font-size: 50px;
    color: #0b00a1;
    transition: all 150ms ease-in-out;
}

.titulo::selection {
    color: #0b00a1;
    background: cross-fade(#eee);
    background-color: #3498db;
}

header:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    transition: all 150ms ease-in-out;
}

.imagem-principal {
    height: 200px;
}
/* TITULO, IMAGEM ↑ */

/* ESCOLHA DATA, BOTÃO ↓ */
#data {
    color: #eee;
    background: transparent;
    border: #3498db solid 2px;
    font-weight: 700;
    margin-top: 15px;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.data-escolha {
    margin-top: 10px;
    color: #eee;
}

.data-escolha::before {
    content: 'Escolha a data ↓';
    font-family: Helvetica;
    font-weight: 700;
}

#data:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

#data::selection {
    color: #0b00a1;
    background: cross-fade(#eee);
    background-color: #3498db;
}

#botao-escolha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input::selection {
    color: #0b00a1;
    background: #3498db;
}

.input {
    color: #eee;
    background: transparent;
}

.btn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #3498db;
    border-radius: 0.6em;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;   
}

.btn:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}
/* ESCOLHA DATA, BOTÃO ↑ */

/* CONTEUDO  ↓ */
#conteudo{
    margin: 5%;
    padding: 50px;
    font-size: 30px;
    color: #0b00a1;
    border-radius: 10px;
    border: #3498db inset 5px;
    font-weight: 700;
    word-wrap: break-word;
    transition: all 150ms ease-in-out;
}

#conteudo:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

#conteudo::selection {
    color: #0b00a1;
    background: #3498db;
}

#imagem-conteudo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 20px;
    border: #3498db inset 5px;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

#imagem-conteudo:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

/* CONTEUDO ↑ */

/* RODAPÉ ↓ */
.rodape {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    float: left;
    margin-top: 200px;
    padding: 20px 45%;
    letter-spacing: 2px;
    font-weight: 500;
}

.rodape, a {
    font-size: 20px;
    /* background: -webkit-linear-gradient(#3528f1, #61c0ff); */
}

a:visited {
    color: #e90000;
}

p:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    transition: all 150ms ease-in-out;
}
/* RODAPÉ ↑ */